<div class="flex flex-row justify-between">
  <h2 class="text-2xl text-blue-950">Administración de hoteles</h2>
  <button type="button"
          routerLink="/hotels/create"
          class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Nuevo hotel</button>
</div>
<div class="mt-3">
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
         Nombre
        </th>
        <th scope="col" class="px-6 py-3">
          Dirección
        </th>
        <th scope="col" class="px-6 py-3">
          Ciudad
        </th>
        <th scope="col" class="px-6 py-3">
          Contacto
        </th>
        <th scope="col" class="px-6 py-3">
          Página web
        </th>
        <th scope="col" class="px-6 py-3">
          Estado
        </th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Edit</span>
        </th>
      </tr>
      </thead>
      <tbody>
      @if(hotelsService.loading()) {
        <tr class="bg-whire border-b dark:bg-gray-800 dark:border-gray-700">
          <td colspan="4" class="px-6 py-4">
            <p class="text-center">loading...</p>
          </td>
        </tr>
      }
      @if(!hotelsService.loading() && !hotelsService.error()) {
        @for(hotel of hotelsService.hotels(); track hotel) {
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{hotel.name}}
            </th>
            <td class="px-6 py-4">
              {{hotel.city}}
            </td>
            <td class="px-6 py-4">
              {{hotel.address}}
            </td>
            <td class="px-6 py-4">
              {{hotel.contact}}
            </td>
            <td class="px-6 py-4">
              {{hotel.web}}
            </td>
            <td class="px-6 py-4">
              {{hotel.state ? 'Activo' : 'Deshabilitado'}}
            </td>
            <td class="px-6 py-4 text-right">
              <a (click)="onSelected(hotel)" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Editar</a>
            </td>
          </tr>
        } @empty {
          <tr>
            <td class="px6 py4" colspan="4">No hay hoteles creados</td>
          </tr>

        }
      }
      </tbody>
    </table>
  </div>
</div>
